.bio h1{
    position:absolute;
    left: 40%;
    top: 40%;
    background-color: gray;
    color:rgb(225, 219, 231)
}
.bio img{
    position: absolute;
    top: 30%;
    left: 20%;
    border-radius: 50%;
    width: 40%;
    background-color: gray;
}
.gh {
    background-color: rgb(82, 13, 13);
}